.git
**/**/node_modules
**/**/.turbo

out
.dockerignore
.gitignore
.husky
.gitlab-ci.yml
commitlint.config.mjs
README.md


apps/nextjs/.next 
apps/nextjs/.dockerignore
apps/nextjs/.env
apps/nextjs/.env.example
apps/nextjs/.prettierignore
apps/nextjs/Dockerfile
apps/nextjs/lint-staged.config.js
apps/nextjs/prettier.config.js
apps/nextjs/README.md


apps/storybook/storybook-static
apps/storybook/.gitignore
apps/storybook/.prettierignore
apps/storybook/Dockerfile
apps/storybook/prettier.config.js
apps/storybook/README.md